# very important info here
iternal/*.env
# pycharm's trash
/.idea
.idea/*
.idea
.env
venv/
venv/*
# logs
logs/
authboi/
.mypy_cache/

# pycahce
*/__pycache__/
*/__pycache__/*
**/__pycache__/
**/__pycache__/*
/__pycache__/
__pycache__/*
src/handlers/__pycache__/*
data/__pycache__/*
data/__pycache__/config.cpython-38.pyc
src/handlers/User/__pycache__/*
data/__pycache__/

# pytest cache
tests/.pytest_cache/
.pytest_cache/
