# very important info here
/src/*.env
.env
# pycharm's trash
/.idea
.idea/*
.idea

# pycahce
__pycache__/
__pycache__/*
src/handlers/__pycache__/*
data/__pycache__/*
src/handlers/User/__pycache__/*
#
authboi/*
